<div class="tsrg-cookie" id="tsrg-cookie" role="region" aria-label="Cookie consent">
  <div class="tsrg-cookie__inner tsrg-container">
    <div class="tsrg-cookie__text">
      <span class="material-symbols-outlined" aria-hidden="true">cookie</span>
      <p>We use cookies to improve your experience and measure performance. By continuing, you consent to our use of cookies and collection of contact data in accordance with <strong>CASL &amp; PIPEDA</strong>. <a href="<%= 'mailto:' + site.email %>">Privacy questions?</a></p>
    </div>
    <div class="tsrg-cookie__actions">
      <button class="tsrg-cookie__decline" id="tsrg-cookie-decline" type="button">Decline</button>
      <button class="tsrg-cookie__accept" id="tsrg-cookie-accept" type="button">Accept</button>
    </div>
  </div>
</div>
