<section class="tsrg-trust" aria-label="Trust badges">
  <div class="tsrg-container tsrg-trust__row">
    <% content.trustBadges.forEach(function(badge) { %>
      <span class="tsrg-trust__badge"><%= badge %></span>
    <% }); %>
  </div>
</section>
